<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }}</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img height="210" width="363" src="/assets/images/logo.jpg" />

        <p>Phone: (630) 403-8587<br />info@legacymidwestracing.com</p>

        <ul>
          {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
          {% for p in navigation_pages %}
            {% if p.navigation_weight %}
              <li>
                <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
                  {{ p.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
          <li>Test 1</li>
          <li>Test 2</li>
          <li>Test 3</li>
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <footer>
      <p>Copyright {{ 'now' | date: "%Y" }} Legacy Midwest Racing Series</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

  {% if site.google_analytics %}
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  {% endif %}
  </body>
</html>
